@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
html {
  font-family: "Fira Sans", "Helvetica Neue", "Arial", sans-serif;
  // font-family: 'Cutive Mono', monospace;
  // font-family: 'Roboto Mono', monospace;
  font-family: "Lato", sans-serif;  
}

body {
  padding: 40px 60px 400px 60px;
  font-size: 26px;
  font-weight: 400;
  background: black;
}

.page-wrapper {
  margin: 0 auto;
  color: white;
}


// Probably want to drop in some media query stuff too... narrow css?
// Animation Example

.animation-example {
  animation: sampleAnimation .4s ease-out;
  animation-iteration-count: 3;
  animation-delay: .5s;
}

.ui {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 99999;
  
  a {
    background: #76bc2b;
    color: white;
    font-size: 40px;
    display: block;
    text-decoration: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: relative;
    transition: opacity .1s ease-out;
    
    &:hover {
      opacity: .8;
    }
    
    .fa-pause {
      display: block;
      left: 0px;
    }
    
    .fa-play {
      display: none;
    }
    
    &.paused {
      .fa-pause {
        display: none;
      }
      
      .fa-play {
        display: block;
      }
    }
    
    
    
    span {
      position: absolute;
      width: 100%;
      top: 20px;
      left: 4px;
      text-align: center;
      display: block;
      color: white;
    }
  }
  
}


h1 {
  font-size: 2em;
  margin: 0em 0em .2em 0;
}

h2 {
  margin: 0 0 2em 0;
  opacity: .7;
}

@keyframes sampleAnimation {
  0% {
    transform: scale(1.5);
    opacity: .5;
  }
  50%{
    transform: scale(.7);
    opacity: .5;
  }
  100% {
    transform: scale(.7);
    opacity: 0;
  }
}

.source {
  display: none;
}

pre {
  // letter-spacing: -1px;
}

hr {
  margin-top: 50px;
  margin-bottom: 50px;
  opacity: .25;
  border: none;
  border-top: solid 3px white;
  position: relative;
  top: 5px;
}

pre.chords {
  margin: 20px 0 5px 0;
  font-weight: bold;
  transition: background .15s ease-out;
  border-radius: 3px;

  &.current {
    background: rgba(255,255,255,.2);
  }
  

  &.hit {
    // animation: slam ease-out .2s;
  }

  @keyframes slam {
    0% { 
      transform: scale(1);
    }
    10% { transform: scaleY(1.2);}
    100% { transform: scale(1);}
  }
  
  
  &:hover {
    cursor: pointer;
    background: rgba(255,255,255,.2);
  }
}

.chord {
 padding: 3px 5px 5px 5px;

 position: relative;
 margin-left: -5px;
 text-align:center;
 font-weight: 700;
}

.chord {
  display: inline-block !important;
  border-radius: 3px;

  &.current {
    &.pop {
      // animation: boom ease-out .2s;
    }
  
    @keyframes boom {


      0% { transform: scale(1); opacity: 1;}
      5% { transform: scaleY(1.25);}
      100% { transform: scale(1);}
    }

    background: DeepSkyBlue;
    color: white;
  }
}

.lyrics {
  opacity: .5;
  min-height: 24px;
  margin-bottom: 40px;
}

.chord {
  position: relative;
}

.length {
  position: absolute;
  top: 13px;
  display: inline-block;
  width: 60px;
  height: 8px;
  // height: 33px;
  // top: 0;

  background: rgba(255,255,255,.2);
  background: #555;
  opacity: 0;
  border-radius: 3px;
  // display: none;

  .progress {
    border-radius: 3px;
    background: DeepSkyBlue;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
  }
}

.chord.current .length {
  opacity: 1;
}


.chord.current .dots {
  opacity: 1;
}

  .length {
  // display: none;
}


.chord.current .ball {
  opacity: 1;
  animation: bounce linear .640s infinite;
}

.ball {
  position: absolute;
  top: -11px;
  opacity: 0;
  background: pink;
  height: 16px;
  border-radius: 50%;
  background: DeepSkyBlue;
  width: 16px;
  left: ~"calc(50% - 8px)";
  display: none;

  @keyframes bounce {
    0% { 
      transform: translateY(0px) scaleY(.85) scaleX(1.25);
      
      animation-timing-function: ease-out;
    }
    50% {
      transform: translateY(-40px);
      animation-timing-function: ease-in;
    }
  }
  
  
}


.dots {
  position: absolute;
  top: 12px;
  opacity: 0;
  right: -60px;
  
}

.dot {
  display: block;
  position: absolute;
  height: 16px;
  width: 16px;
  background: black;
  border-radius: 50%;
  position: relative;
  top: -4px;
  background: #555;
  left: ~"calc(50% - 8px)";
  opacity: 1;
  // display: none;
  
  // &:nth-child(3) {
  //   display: inline-block;
  // }

  &.popa {
    animation: popa ease-out .2s;
  }
  
  @keyframes popa {
    0% { transform: scale(1.5);}
    100% { transform: scale(1);}
  }
  
  
  &.current {
    background: DeepSkyBlue;
    opacity: 1;
  }

}

  
  
.metronome {
  position: fixed;
  top: 20px;
  right: 120px;
  z-index: 99999;
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 50%;
  opacity: .6;
  
  &.hit {
    animation: pop ease-out .2s;
  }
  
  @keyframes pop {
    0% { transform: scale(1); opacity: 1;}
    10% { transform: scale(1.2);}
    100% { transform: scale(1);}
  }
  
}