@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
html {
  // font-family: "Fira Sans", "Helvetica Neue", "Arial", sans-serif;
  // font-family: 'Cutive Mono', monospace;
  // font-family: 'Roboto Mono', monospace;
  font-family: "Lato", sans-serif;
}

body {
  padding: 40px 60px 400px 60px;
  font-weight: 300;
  background: black;
}

.page-wrapper {
  margin: 0 auto;
  color: white;
}


// Probably want to drop in some media query stuff too... narrow css?
// Animation Example

.animation-example {
  animation: sampleAnimation .4s ease-out;
  animation-iteration-count: 3;
  animation-delay: .5s;
}

.ui {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 99999;

  a {
    background: #76bc2b;
    color: white;
    font-size: 40px;
    display: block;
    text-decoration: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: relative;
    transition: opacity .1s ease-out;

    &:hover {
      opacity: .8;
    }

    .fa-pause {
      display: block;
      left: 0px;
    }

    .fa-play {
      display: none;
    }

    &.paused {
      .fa-pause {
        display: none;
      }

      .fa-play {
        display: block;
      }
    }



    span {
      position: absolute;
      width: 100%;
      top: 20px;
      left: 4px;
      text-align: center;
      display: block;
      color: white;
    }
  }

}


h1 {
  font-size: 2em;
  margin: 0em 0em .2em 0;
}

h2 {
  margin: 0 0 2em 0;
  opacity: .7;
  font-size: 22px;
}

@keyframes sampleAnimation {
  0% {
    transform: scale(1.5);
    opacity: .5;
  }
  50%{
    transform: scale(.7);
    opacity: .5;
  }
  100% {
    transform: scale(.7);
    opacity: 0;
  }
}

.source {
  display: none;
}

pre {
  // letter-spacing: -1px;
}

hr {
  margin: 50px auto;
  border: none;
  width: 70%;
  border-top: dashed 3px white;
  opacity: .2;
  position: relative;
  top: 5px;
}

pre.chords {
  margin: 20px 0 5px 0;
  font-weight: bold;
  transition: background .15s ease-out;
  border-radius: 3px;

  &.current {
    background: rgba(255,255,255,.2);
  }


  &.hit {
    // animation: slam ease-out .2s;
  }

  @keyframes slam {
    0% {
      transform: scale(1);
    }
    10% { transform: scaleY(1.2);}
    100% { transform: scale(1);}
  }

  &:hover {
    cursor: pointer;
    background: rgba(255,255,255,.2);
  }
}

.lyrics {
  opacity: .5;
  min-height: 24px;
  margin: 12px 0 40px 0;
  padding-left: 10px;
  font-size: 20px;

  .bar {
    padding-bottom: 3px;
  }
}

.chord {
  position: relative;
}

.chord.current .length {
  opacity: 1;
}


.chord.current .dots {
  opacity: 1;
}

  .length {
  // display: none;
}


.chord.current .ball {
  opacity: 1;
  animation: bounce linear .640s infinite;
}

.ball {
  position: absolute;
  top: -11px;
  opacity: 0;
  background: pink;
  height: 16px;
  border-radius: 50%;
  background: DeepSkyBlue;
  width: 16px;
  left: ~"calc(50% - 8px)";
  display: none;

  @keyframes bounce {
    0% {
      transform: translateY(0px) scaleY(.85) scaleX(1.25);

      animation-timing-function: ease-out;
    }
    50% {
      transform: translateY(-40px);
      animation-timing-function: ease-in;
    }
  }


}


.dots {
  position: absolute;
  top: 12px;
  opacity: 0;
  right: -60px;

}

.dot {
  display: block;
  position: absolute;
  height: 16px;
  width: 16px;
  background: black;
  border-radius: 50%;
  position: relative;
  top: -4px;
  background: #555;
  left: ~"calc(50% - 8px)";
  opacity: 1;
  // display: none;

  // &:nth-child(3) {
  //   display: inline-block;
  // }

  &.popa {
    // animation: popa ease-out .2s;
  }

  @keyframes popa {
    0% { transform: scale(1.5);}
    100% { transform: scale(1);}
  }


  &.current {
    background: DeepSkyBlue;
    opacity: 1;
  }

}


@barwidth: 250px;

// Wraps both chords and lyrics bars
.bar {
  box-sizing: border-box;
  position: relative;
  width: 25%;
  display: inline-block;
}

.chords {
  margin-top: 30px;
  font-size: 0;

  .chord-circle {
    height: 50px;
    width: 50px;
    background: rgba(255,255,255,.2);
    color: white;
    border-radius: 25px;
    font-size: 22px;
    font-weight: 500;
  }

  .bar.current .chord-circle {
    background: deepskyblue;
    animation: boom .2s ease-out;

    @keyframes boom {
      0% { transform: scale(1);}
      5% { transform: scale(1.15);}
      100% { transform: scale(1);}
    }
  }

  .chord-name {
    text-align: center;
    position: relative;
    top: 14px;
    font-weight: 300;
  }

  .progress-bar {
    height: 6px;
    width: ~"calc(100% - 50px)";
    position: relative;
    background: rgba(255,255,255,.2);
    position: absolute;
    top: 22px;
    right: 0;
  }

  .progress {
    background: white;
    position: absolute;
    opacity: .3;
    width: 0%;
    height: 100%;
    left: 0;
    transition: width 1.28s linear;
    background: DeepSkyBlue;
    z-index: 1;
    opacity: 0;
  }

  .current {
    position: relative;
  }

  .bar.current .progress {
    opacity: 1;
  }

  .current .progress {
    opacity: 1;
  }




}


pre {
  display: none;
}